.redbutton{
-fx-background-color: #e51400;
-fx-text-fill: white;
-fx-font-weight: bold;
-webkit-text-fill-color: #ffffff;
-fx-font-size: 1.1em;
}

.popuptitle{
-fx-background-color: #e51400;
-fx-text-fill: white;
-fx-font-weight: bold;
-webkit-text-fill-color: #ffffff;
-fx-font-size: 1.1em;	
}
